@import "./assets/variables";
@import "./assets/reset";
@import "./assets/utils";

.wrapper {
    background-color: rgb(205, 237, 255);
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 4px;

    box-shadow: 4px 4px 11px -1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 4px 4px 11px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: 4px 4px 11px -1px rgba(0,0,0,0.4);
}

.details {
    margin: 3rem 0;

    &:first-of-type {
        margin: 1rem 0 3rem;
    }

    &:last-of-type {
        margin: 3rem 0 1rem;
    }

    &-heading {
        text-transform: capitalize;
    }

    &-list {
        margin-top: 1rem;
        padding-left: .8rem;
        align-items: flex-start;
        max-width: 600px;
        
        &.skills {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: flex-start;
        }

        li {
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-size: $fs-L;
            color: rgb(54, 63, 68);
            text-align: left;

            span {
                text-transform: capitalize;
            }
        }
    }

    i {
        font-size: $fs-XL;
        margin-right: .5rem;
        width: 24px;
        height: 24px;
    }

    p {
        margin: 1rem 0 0 1rem;
        font-size: 18px;

        .project-link {
            font-family: $ff-bold;
        }
    }
}

@media (max-width: 600px) {
    .details {
        text-align: center;

        &-list {

            &.skills {
                grid-template-columns: 50% 50%;
            }

            li {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
}